<h1 mat-dialog-title>Proyecto</h1>

<div mat-dialog-content class="box box-default">
  <div class="box-body">
    <form>
      <div class="row">
        <div class="col-12">
          <mat-input-container class="full-width">
            <input [(ngModel)]="proyectoActual.nombre" matInput placeholder="Nombre" name="Nombre" [formControl]="nombreFC">
            <mat-error *ngIf="nombreFC.invalid">El nombre del proyecto obligatorio.</mat-error>
          </mat-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-input-container class="full-width">
            <input [(ngModel)]="proyectoActual.codigo" matInput placeholder="Código" name="Codigo" [formControl]="codigoFC">
            <mat-error *ngIf="codigoFC.invalid">El código del proyecto obligatorio.</mat-error>
          </mat-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-input-container class="full-width">
            <input [(ngModel)]="proyectoActual.prioridad" matInput placeholder="Prioridad" name="Prioridad" [formControl]="prioridadFC">
            <mat-error *ngIf="prioridadFC.invalid">La prioridad del proyecto obligatoria y debe ser numérica.</mat-error>
          </mat-input-container>
        </div>
      </div>
    </form>
  </div>
</div>

<div mat-dialog-actions class="full-width">
  <div class="full-width text-sm-right">
    <button mat-button color="info" class="btn-w-xs" [mat-dialog-close]="false">Cancelar</button>
    <button [disabled]="nombreFC.invalid || codigoFC.invalid || prioridadFC.invalid" mat-button color="primary" class="btn-w-md" (click)="Guardar()">Guardar</button>
  </div>
</div>