<section class="container-fluid with-maxwidth chapter">
  <article class="article">
    <div class="row">
      <h2 class="article-title padding-top-30 col-12 col-sm-6">Horas</h2>
      <div class="article-title padding-top-30 text-left text-sm-right col-12 col-sm-6">
        <button mat-raised-button color="accent" class="btn-w-md" (click)="Nuevo()">Nuevo Día</button>
      </div>
    </div>

    <article class="article">
      <div class="box box-default">
        <div class="box-body row">
          <div class="col-12 col-sm-3">
            <mat-form-field class="full-width">
              <input [(ngModel)]="diaActual" name="dia" class="full-width" matInput [matDatepicker]="picker" placeholder="FECHA">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-6 col-sm-3">
            <app-select-hora-desde name="horaDesde" idModel="horaIn" [object]="horaActual" (onChange)="HoraInOnChange($event)" placeHolder="INICIO"></app-select-hora-desde>
          </div>

          <div class="col-6 col-sm-3">
            <app-select-hora-hasta name="horaHasta" idModel="horaOut" [object]="horaActual" (onChange)="HoraOutOnChange($event)" placeHolder="FIN"></app-select-hora-hasta>
          </div>

          <div class="col-12 col-sm-3">
            <button mat-raised-button color="primary" class="btn-w-md" (click)="GuardarOnClick()">Guardar</button>
          </div>
        </div>


        <div class="box-body row" *ngIf="horaActual !== undefined && horaActual.id !== undefined">

          <div class="col-12 col-sm-3">
            <app-select-proyecto [object]="proyectoActual" (onChange)="ProyectoOnChange($event)" idModel="id" placeHolder="PROYECTO"
              id="id" desc="nombre"></app-select-proyecto>
          </div>

          <div class="col-12 col-sm-3">
            <app-select-tarea [object]="tareaActual" (onChange)="TareaOnChange($event)" idModel="id" placeHolder="TAREA" id="id" desc="nombre"></app-select-tarea>
          </div>

<!--           <div class="col-12 col-sm-3">
            <app-select-hora-desde name="tiempo" idModel="duracion" [object]="horaDetalleActual" placeHolder="Tiempo"></app-select-hora-desde>
          </div>

          <div class="col-12 col-sm-3">
            <button (click)="AgregarOnClick()" mat-icon-button color="accent">
              <mat-icon class="material-icons">play_arrow</mat-icon>
            </button>
          </div> -->

          <div class="col-12 col-sm-2">
              <mat-form-field class="full-width">
                <button (click)="horasOnClick()" matSuffix mat-icon-button color="accent">
                  <mat-icon class="material-icons">replay_5</mat-icon>
                </button>
                <input matInput type="number" placeholder="Horas" [(ngModel)]="horasInt" [formControl]="horasFC">
                <mat-error *ngIf="horasFC.invalid">Debe ser un número entre 0 y 23</mat-error>
              </mat-form-field>
            </div>

          <div class="col-12 col-sm-2">
            <mat-form-field class="full-width">
              <button (click)="minutosOnClick()" matSuffix mat-icon-button color="accent">
                <mat-icon class="material-icons">replay_10</mat-icon>
              </button>
              <input matInput type="number" placeholder="Minutos" [(ngModel)]="minutosInt" [formControl]="minutosFC">
              <mat-error *ngIf="minutosFC.invalid">Debe ser un número entre 0 y 59</mat-error>
            </mat-form-field>
          </div>

          <div class="col-12 col-sm-2">
            <button [disabled]="minutosFC.invalid || horasFC.invalid || horaDetalleActual.proyecto === undefined || horaDetalleActual.tipoTarea === undefined" (click)="AgregarOnClick()" mat-icon-button color="accent">
              <mat-icon class="material-icons">play_arrow</mat-icon>
            </button>
          </div>

        </div>


        <div class="box box-default table-box table-responsive mdl-shadow--2dp" *ngIf="horaActual !== undefined && horaActual.id !== undefined && horaActual.horaDetalleList !== undefined && horaActual.horaDetalleList.length > 0">
          <table class="mdl-data-table">
            <thead>
              <tr>
                <th>Proyecto</th>
                <th>Tarea</th>
                <th>Tiempo (Dif.: {{GetDiferencia()}})</th>
                <th>
                  <mat-icon *ngIf="horaActual !== undefined && horaActual.completa" color="accent" class="material-icons">done</mat-icon>
                  <mat-icon *ngIf="horaActual !== undefined && !horaActual.completa" color="warn" class="material-icons">error</mat-icon>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let x of horaActual.horaDetalleList'>
                <td>
                  <span *ngIf="x.proyecto !== undefined">{{x.proyecto.nombre}}</span>
                </td>
                <td>
                  <span *ngIf="x.tipoTarea !== undefined">{{x.tipoTarea.nombre}}</span>
                </td>
                <td>{{x.duracion | myTimePipe:'HH hs. mm min.'}}</td>
                <td>
                  <button mat-icon-button color="warn">
                    <mat-icon class="material-icons" (click)="EliminarTiempo(x)">delete</mat-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>

    <div class="row">
      <div class="col-12 text-right">
        <mat-form-field>
          <input [(ngModel)]="fDesde" (dateChange)="fDesdeOnChange($event)" class="full-width" matInput [matDatepicker]="pickerFDesde"
            placeholder="Fecha Desde">
          <mat-datepicker-toggle matSuffix [for]="pickerFDesde"></mat-datepicker-toggle>
          <mat-datepicker #pickerFDesde></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="box box-default table-box table-responsive mdl-shadow--2dp">
      <table class="mdl-data-table">
        <thead>
          <tr>
            <th>Día</th>
            <th>H. Ent.</th>
            <th>H. Sal.</th>
            <th>Sub-Total</th>
            <th>Horas Cargadas</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let x of listaHoras'>
            <td>{{x.dia}}</td>
            <td>{{x.horaIn}}</td>
            <td>{{x.horaOut}}</td>
            <td>{{x.subtotal | myTimePipe:'HH hs. mm min.'}}</td>
            <td>{{x.subtotalDetalles | myTimePipe:'HH hs. mm min.'}}</td>
            <td>
              <mat-icon *ngIf="x.completa" color="accent" class="material-icons">done</mat-icon>
              <mat-icon *ngIf="!x.completa" color="warn" class="material-icons">error</mat-icon>
            </td>
            <td>
              <button mat-icon-button color="primary" (click)="Editar(x)">
                <mat-icon class="material-icons">mode_edit</mat-icon>
              </button>
              <button mat-icon-button color="warn">
                <mat-icon class="material-icons" (click)="Eliminar(x)">delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <!--       <table *ngFor='let x of lista' class="mdl-data-table">
        <thead>
          <tr>
            <th class="text-primary text-large">{{x.horas[0].dia}}</th>
            <th></th>
            <th></th>
            <th></th>
            <th class="text-primary text-large">{{x.subHoras}}h. {{x.subMinutos}}m.</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let y of x.horas">
            <td>{{y.proyecto.nombre}}</td>
            <td>{{y.tipoTarea.nombre}}</td>
            <td>{{y.horaIn}}</td>
            <td>{{y.horaOut}}</td>
            <td>{{y.subtotal}}</td>
            <td>
              <button mat-icon-button color="primary" (click)="Editar(y)">
                <mat-icon class="material-icons">mode_edit</mat-icon>
              </button>
              <button mat-icon-button color="warn">
                <mat-icon class="material-icons" (click)="Eliminar(y)">delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table> -->
    </div>
  </article>
</section>