<section class="container-fluid with-maxwidth chapter">
    <article class="article">
      <div class="row">
        <h2 class="article-title col-12 col-sm-5">
          <span>Hs. Reales (Resumen y Costos)</span>
        </h2>
        <div class="col-12 col-sm-2">
          <app-select-proyecto [object]="proyectoActual" idModel="id" placeHolder="PROYECTOS" id="id" desc="nombre" (onChange)="proyectoSeleccionado($event)"></app-select-proyecto>
        </div>
        <div class="col-12 col-sm-2">
          <mat-form-field class="full-width">
            <input [(ngModel)]="fDesde" (dateChange)="Load()" class="full-width" matInput [matDatepicker]="pickerFDesde" placeholder="Fecha Desde">
            <mat-datepicker-toggle matSuffix [for]="pickerFDesde"></mat-datepicker-toggle>
            <mat-datepicker #pickerFDesde></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-2">
          <mat-form-field class="full-width">
            <input [(ngModel)]="fHasta" (dateChange)="Load()" class="full-width" matInput [matDatepicker]="pickerFHasta" placeholder="Fecha Hasta">
            <mat-datepicker-toggle matSuffix [for]="pickerFHasta"></mat-datepicker-toggle>
            <mat-datepicker #pickerFHasta></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-12 col-sm-1">
          <button matTooltipPosition="above" matTooltip="Bajar archivo csv con los datos." [disabled]="loading > 0" (click)="Download_CSV()" mat-icon-button color="primary">
            <mat-icon class="material-icons">file_download</mat-icon>
          </button>
        </div>
      </div>
  
      <div class="box box-default table-box table-responsive mdl-shadow--2dp">
        <table class="mdl-data-table" *ngIf="loading === 0">
          <thead>
            <tr>
              <th>#</th>
              <th class="text-left">Nombre</th>
              <th class="text-left">Código</th>
              <th class="text-left">Colaboradores</th>
              <th>Cantidad Horas</th>
              <th>Importe Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of getFilas(lista)">
              <td>{{x.cargo.id}}</td>
              <td class="text-left">{{x.cargo.nombre}}</td>
              <td class="text-left">{{x.cargo.codigo}}</td>
              <td class="text-left">
                <mat-chip-list>
                  <mat-chip matTooltipPosition="above" [matTooltip]="y.nombre" *ngFor="let y of GetInicialesAux(x.cargo.id)"><b>{{y.iniciales}}</b></mat-chip>
                </mat-chip-list>
              </td>
              <td>{{x.cantidadHoras | number:'1.0-0'}}</td>
              <td>{{x.precioTotal | number:'1.0-0'}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr *ngFor="let x of getTotal(lista)">
              <td colspan="4" class="text-rigth"><b>TOTALES</b></td>
              <td class="text-rigth"><b>{{x.cantidadHoras | number:'1.0-0'}}</b></td>
              <td class="text-rigth"><b>{{x.precioTotal | number:'1.0-0'}}</b></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </article>
  </section>