<h1 mat-dialog-title>
  <div class="row">
    <div class="col-11 text-left">
      Tarea
    </div>
    <div class="col-1 text-rigth">
        <mat-spinner *ngIf="loading" [diameter]="20" [strokeWidth]="5"></mat-spinner>
    </div>
  </div>
</h1>

<div mat-dialog-content class="box box-default">
  <div class="box-body">
    <form>
      <div class="row">
        <div class="col-12">
          <mat-input-container class="full-width">
            <input [(ngModel)]="tareaActual.nombre" matInput placeholder="Nombre" name="Nombre" [formControl]="nombreFC">
            <mat-error *ngIf="nombreFC.invalid">El nombre de la tarea obligatorio.</mat-error>
          </mat-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-input-container class="full-width">
            <input [(ngModel)]="tareaActual.codigo" matInput placeholder="Código" name="Codigo" [formControl]="codigoFC">
            <mat-error *ngIf="codigoFC.invalid">El código de la tarea obligatorio.</mat-error>
          </mat-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-input-container class="full-width">
            <input [(ngModel)]="tareaActual.prioridad" matInput placeholder="Prioridad" name="Prioridad" [formControl]="prioridadFC">
            <mat-error *ngIf="prioridadFC.invalid">La prioridad de la tarea es obligatoria y debe ser numérica.</mat-error>
          </mat-input-container>
        </div>
      </div>
    </form>
  </div>
</div>

<div mat-dialog-actions class="full-width">
  <div class="full-width text-sm-right">
    <button [disabled]="loading" mat-button color="info" class="btn-w-xs" [mat-dialog-close]="false">Cancelar</button>
    <button [disabled]="nombreFC.invalid || codigoFC.invalid || prioridadFC.invalid || loading" mat-button color="primary" class="btn-w-md" (click)="Guardar()">Guardar</button>
  </div>
</div>