<h1 mat-dialog-title>Cargo</h1>

<div mat-dialog-content class="box box-default">
  <div class="box-body">
    <form>
      <div class="row">
        <div class="col-12">
          <mat-input-container class="full-width">
            <input [(ngModel)]="cargoActual.nombre" matInput placeholder="Nombre" name="Nombre" [formControl]="nombreFC">
            <mat-error *ngIf="nombreFC.invalid">El nombre del cargo es obligatorio.</mat-error>
          </mat-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-input-container class="full-width">
            <input [(ngModel)]="cargoActual.codigo" matInput placeholder="Código" name="Codigo" [formControl]="codigoFC">
            <mat-error *ngIf="codigoFC.invalid">El código del cargo es obligatorio.</mat-error>
          </mat-input-container>
        </div>
      </div>
      <div class="row" *ngIf="data[0] === undefined">
        <div class="col-12">
          <mat-input-container class="full-width">
            <input [(ngModel)]="precioInicial" matInput placeholder="Precio/Hora" name="PrecioHora" [formControl]="precioFC">
            <mat-error *ngIf="precioFC.hasError('required')">El precio por hora del cargo es obligatorio.</mat-error>
            <mat-error *ngIf="precioFC.hasError('pattern')">El formato no es correcto, debe ser un número.</mat-error>
          </mat-input-container>
        </div>
      </div>
    </form>
  </div>
</div>

<div mat-dialog-actions class="full-width">
  <div class="full-width text-sm-right">
    <button mat-button color="info" class="btn-w-xs" [mat-dialog-close]="false">Cancelar</button>
    <button [disabled]="nombreFC.invalid || codigoFC.invalid || (data[0] === undefined && precioFC.invalid)" mat-button color="primary" class="btn-w-md" (click)="Guardar()">Guardar</button>
  </div>
</div>