@import "variables";

@import "vendors/material2/material2";

@import "pages/demo";
@import "pages/auth";
@import "pages/error";
@import "pages/lock-screen";
@import "pages/profile";
@import "pages/invoice";
@import "pages/dashboard";
@import "pages/maintenance";
@import "pages/about";
@import "pages/terms";
@import "pages/blog";
@import "ui";
@import "~angular-vertical-timeline/dist/vertical-timeline.css";

.article {
    padding-top: 20px;
}

.article-title{
    padding-top: 10px !important;
}

.timeline-img {
    background-color: #343a40 !important;
}

.timeline-content {
    background-color: #20c997 !important;
    border-style: none;
    padding: 40px 30px 10px 30px !important;
}

.timeline-content > .date {
    background: none !important;
    color: black !important;
}

.timeline-content > .date > p {
    color: black !important;
}

.timeline-content > .inner-content {
    margin-top: 5px !important;
}



