<h1 mat-dialog-title>Hora</h1>

<div mat-dialog-content class="box box-default">
  <div class="box-body">
    <form>

      <div class="row">
        <div class="col-12">
          <mat-form-field class="full-width">
            <input [(ngModel)]="diaActual" name="dia" class="full-width" matInput [matDatepicker]="picker" placeholder="FECHA">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <app-select-proyecto [object]="proyectoActual" (onChange)="ProyectoOnChange($event)" idModel="id" placeHolder="PROYECTO"
            id="id" desc="nombre"></app-select-proyecto>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <app-select-tarea [object]="tareaActual" (onChange)="TareaOnChange($event)" idModel="id" placeHolder="TAREA" id="id" desc="nombre"></app-select-tarea>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <app-select-hora-desde name="horaDesde" idModel="horaIn" [object]="horaActual" (onChange)="HoraInOnChange($event)" placeHolder="INICIO"></app-select-hora-desde>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <app-select-hora-hasta name="horaHasta" idModel="horaOut" [object]="horaActual" (onChange)="HoraOutOnChange($event)" placeHolder="FIN" ></app-select-hora-hasta>
        </div>
      </div>
    </form>
  </div>
</div>

<div mat-dialog-actions class="full-width">
  <div class="full-width text-sm-right">
    <button mat-button color="primary" class="btn-w-xs" [mat-dialog-close]="false">Cancelar</button>
    <button mat-button color="primary" class="btn-w-md" (click)="Guardar()">Guardar</button>
  </div>
</div>