<div class="page-auth">
  <div class="main-body">
    <div class="card card-white">
      <div class="card-content">
        <div class="logo">
            <a [routerLink]="['/']">Recuperar</a>
        </div>

        <form name="material_login_form" class="form-validation" [formGroup]="validationForm" (ngSubmit)="reset()">
          <fieldset>
            <mat-input-container class="full-width no-margin-bottom">
              <input formControlName="email" required matInput placeholder="Email" type="email" name="email"
                     [(ngModel)]="model.email">
              <mat-icon matSuffix class="material-icons">mail_outline</mat-icon>
            </mat-input-container>
            <p class="text-center text-small no-margin">
                Ingresá tu dirección de email. Enviaremos un correo con un enlace para recuperar la contraseña.
             </p>

            <div class="divider divider-md"></div>
            <button [disabled]="!validationForm.valid" mat-raised-button type="submit" color="primary"
                    class="float-right">
                  Recuperar
              </button>
          </fieldset>
        </form>

        <div class="additional-info">
          <a [routerLink]="['/extra/login']">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>