<section class="container-fluid with-maxwidth chapter">

  <article class="article">
    <div class="row">
      <h2 class="article-title col-12 col-sm-6">
        <span *ngIf="estimacionActual !== undefined">Estimación - {{estimacionActual.proyecto.nombre}} - {{estimacionActual.fecha}} - {{estimacionActual.descripcion}}</span>
      </h2>
      <div class="col-12 col-sm-6">
        <button *ngIf="!editando && estimacionActual !== undefined" matTooltipPosition="above" matTooltip="Editar Estimación." mat-icon-button
          color="primary" (click)="Editar()">
          <mat-icon class="material-icons">mode_edit</mat-icon>
        </button>
        <button *ngIf="editando" [disabled]="loading" mat-raised-button color="primary" class="btn-w-md" (click)="GuardarOnClick()">Guardar</button>
        <button *ngIf="editando" [disabled]="loading" mat-raised-button color="dark" class="btn-w-md" (click)="Cancelar()">Cancelar</button>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let x of tareasCargos" class="col-xl-3 col-md-4 col-sm-6 col-12">
        <div class="box box-transparent">
          <div class="box-body no-padding-h">
            <div class="box box-default table-box mdl-shadow--2dp table-responsive">
              <table class="mdl-data-table with-maxwidth">
                <thead>
                  <tr>
                    <th class="text-center" colspan="2">
                      {{x.nombreTarea}}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let y of x.cargos">
                    <td class="text-left">{{y.nombreCargo}}</td>
                    <td class="text-right" *ngIf="!editando">
                      <span>{{y.value}}</span>
                    </td>
                    <td *ngIf="editando" class="text-rigth noPading">
                      <mat-form-field class="anchoMinimo noBorder">
                        <input matInput type="number" [(ngModel)]="y.value" [formControl]="y.FC" [appDisableControl]="loading">
                        <mat-error *ngIf="y.FC.invalid">Debe ser > 0</mat-error>
                      </mat-form-field>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                      <b>TOTALES</b>
                    </td>
                    <td>
                      <b>{{GetTotalTarea(x.idTarea)}}</b>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="estimacionActual !== undefined">
      <div class= "col-md-6 col-12">
        <div class="box box-transparent">
          <div class="box-body no-padding-h">
            <div class="box box-default table-box mdl-shadow--2dp table-responsive">
              <table class="mdl-data-table with-maxwidth">
                <thead>
                  <tr>
                    <th class="text-left">
                      Cargo
                    </th>
                    <th class="text-rigth">
                      Valor Hora Estimado $
                    </th>
                    <th class="text-rigth">
                      Valor Hora al {{estimacionActual.fecha}} $
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let y of horaCargo">
                    <td class="text-left">{{y.codigo}}</td>

                    <td class="text-rigth"*ngIf="!editando">
                      <span>{{y.value | number:'1.2'}}</span>
                    </td>
                    <td *ngIf="editando" class="text-rigth noPading">
                      <mat-form-field class="anchoMinimo noBorder">
                        <input matInput type="number" [(ngModel)]="y.value" [formControl]="y.FC" [appDisableControl]="loading">
                        <mat-error *ngIf="y.FC.invalid">Debe ser > 0</mat-error>
                      </mat-form-field>
                    </td>

                    <td class="text-rigth">{{GetValorHoraCargoFecha(y.idCargo) | number:'1.2'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class= "col-md-6 col-12">
          <div class="box box-transparent">
            <div class="box-body no-padding-h">
              <div class="box box-default table-box mdl-shadow--2dp table-responsive">
                <table class="mdl-data-table with-maxwidth">
                  <thead>
                    <tr>
                      <th class="text-left">
                        Cargo
                      </th>
                      <th class="text-rigth">
                        Total Horas Estimadas
                      </th>
                      <th class="text-rigth">
                        Total Costo Estimado $
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let y of horaCargo">
                      <td class="text-left">{{y.codigo}}</td>
                      <td class="text-rigth">{{GetTotalHorasEstimacionPorCargo(y.idCargo)}}</td>  
                      <td class="text-rigth">{{GetTotalImporteEstimacionPorCargo(y.idCargo) | number:'1.2'}}</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td class="text-left"><b>TOTALES</b></td>
                      <td class="text-rigth"><b>{{GetTotalHorasEstimacion() | number:'1.2'}}</b></td>
                      <td class="text-rigth"><b>{{GetTotalImporteEstimacion() | number:'1.2'}}</b></td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>

  </article>
</section>