<section class="container-fluid with-maxwidth chapter">

  <article class="article">
    <h2 class="article-title">Colaborador</h2>

    <div class="row">
      <div class="col-12">
        <a matTooltip="Volver a la Lista de Cargos" matTooltipPosition="above" mat-icon-button color="primary" [routerLink]="['/app/colaboradores/listacolaboradores']">
          <mat-icon class="material-icons">reorder</mat-icon>
        </a>
      </div>
    </div>

    <div class="box box-default">
      <div class="box-body">
        <form>
          <div class="row">
            <div class="col-12 col-sm-6">
              <mat-input-container class="full-width">
                <input matInput placeholder="Nombre" value="Apellido1, Nombre1">
              </mat-input-container>
            </div>
            <div class="col-12 col-sm-6">
              <mat-input-container class="full-width">
                <input matInput placeholder="E-mail" value="n1apellido1@gmail.com">
              </mat-input-container>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6">
              <app-select-cargo [object]="colaboradorActual.cargo" idModel="id" placeHolder="Cargo" id="id" desc="nombre"></app-select-cargo>
            </div>
            <div class="col-12 col-sm-6">
              <button mat-raised-button color="accent" class="btn-w-md">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </article>
</section>