<section class="container-fluid with-maxwidth chapter">
  <article class="article">
    <div class="row">
      <h2 class="article-title padding-top-30 col-12 col-sm-6">Cargos</h2>
      <div class="article-title padding-top-30 text-left text-sm-right col-12 col-sm-6">
        <button mat-raised-button color="accent" class="btn-w-md" (click)="Nuevo()">Crear Cargo</button>
      </div>
    </div>

    <div class="box box-default table-box table-responsive mdl-shadow--2dp">
      <table class="mdl-data-table">
        <thead>
          <tr>
            <th>#</th>
            <th class="mdl-data-table__cell--non-numeric">Nombre</th>
            <th class="mdl-data-table__cell--non-numeric">Código</th>
            <!-- <th>Precio/Hora</th> -->
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of lista">
            <td>{{x.id}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{x.nombre}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{x.codigo}}</td>
            <!-- <td>{{x.precioHora | number:'1.2'}}</td> -->
            <td>
              <button mat-icon-button color="primary" (click)="Editar(x)">
                <mat-icon class="material-icons">mode_edit</mat-icon>
              </button>
              <button mat-icon-button color="warn">
                <mat-icon class="material-icons" (click)="Eliminar(x)">delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>
</section>