<section class="container-fluid with-maxwidth chapter">
  <article class="article">
    <h2 class="article-title">Cargos</h2>
    <div class="box box-default table-box table-responsive mdl-shadow--2dp">
      <table class="mdl-data-table">
        <thead>
          <tr>
            <th>#</th>
            <th class="mdl-data-table__cell--non-numeric">Descripción</th>
            <th>
              <button mat-mini-fab color="primary">
                <mat-icon class="material-icons">add</mat-icon>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td class="mdl-data-table__cell--non-numeric">Dibujante</td>
            <td><button mat-icon-button> <mat-icon class="material-icons">menu</mat-icon> </button></td>
          </tr>
          <tr>
            <td>2</td>
            <td class="mdl-data-table__cell--non-numeric">Junior A</td>
            <td></td>
          </tr>
          <tr>
            <td>3</td>
            <td class="mdl-data-table__cell--non-numeric">Junior B</td>
            <td></td>
          </tr>
          <tr>
            <td>4</td>
            <td class="mdl-data-table__cell--non-numeric">Senior</td>
            <td></td>
          </tr>
          <tr>
            <td>5</td>
            <td class="mdl-data-table__cell--non-numeric">Proyect Manager</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>
</section>