 <div class="container-fluid no-breadcrumbs page-dashboard">


     <!-- Add the timeline -->
     <vertical-timeline>

         <!-- Add some cards to the timeline. It works with *ngFor too -->
         <!-- If no value is passed for the date, the current time is used. -->
         <vertical-timeline-card *ngFor="let notificacion of notificaciones" [dateValue]="notificacion.fechaHora">
             <h3>{{notificacion.texto}}</h3>
             <h4>{{notificacion.colaborador.nombre}}</h4>
             <div *ngIf="notificacion.hora!=null">
                 <h4><span class="badge badge-default">{{notificacion.hora.dia}}</span></h4>
             </div>
         </vertical-timeline-card>


     </vertical-timeline>

</div>