 <div class="container-fluid no-breadcrumbs page-dashboard">


     <!-- Add the timeline -->
     <vertical-timeline>

         <!-- Add some cards to the timeline. It works with *ngFor too -->
         <!-- If no value is passed for the date, the current time is used. -->
         <vertical-timeline-card *ngFor="let notificacion of notificaciones" [dateValue]="notificacion.fechaHora">
             <p class="parrafo-notificacion text-uppercase titulo-notificacion"><b>{{notificacion.texto}}</b></p>
             <p class="parrafo-notificacion text-uppercase"><small>Fecha: <b>{{notificacion.fechaHora | date: 'dd/MM/yyyy'}}</b></small></p>
             <p class="parrafo-notificacion text-uppercase"><small>Usuario: <b>{{notificacion.colaborador.nombre}}</b></small> <small *ngIf="notificacion.hora!=null"> / Horas del día: {{notificacion.hora.dia}}</small></p>
             <div >
                 <p class="text-uppercase"></p>
             </div>
         </vertical-timeline-card>


     </vertical-timeline>

</div>