<section class="container-fluid with-maxwidth chapter">
  <article class="article">
    <div class="row">
      <h2 class="article-title padding-top-30 col-12 col-sm-6">Estimaciones</h2>
      <div class="padding-top-30 text-right text-sm-right col-12 col-sm-3">
        <app-select-proyecto [addEmptyOption]="true" [object]="proyectoActual" idModel="id" placeHolder="Proyecto" id="id" desc="nombre" (onChange)="proyectoSeleccionado($event)"></app-select-proyecto>
      </div>
      <div class="article-title padding-top-30 text-right text-sm-right col-12 col-sm-3">
        <button mat-raised-button color="accent" class="btn-w-md" (click)="Nuevo()">Crear Estimación</button>
      </div>
    </div>

    <div class="box box-default table-box table-responsive mdl-shadow--2dp">
      <table class="mdl-data-table">
        <thead>
          <tr>
            <th>#</th>
            <th class="mdl-data-table__cell--non-numeric">Proyecto</th>
            <th class="mdl-data-table__cell--non-numeric">Fecha</th>
            <th class="mdl-data-table__cell--non-numeric">Descripción</th>
            <!-- <th>Precio/Hora</th> -->
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of lista">
            <td>{{x.id}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{x.proyecto.nombre}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{x.fecha}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{x.descripcion}}</td>
            <!-- <td>{{x.precioHora | number:'1.2'}}</td> -->
            <td>
              <a matTooltipPosition="above" matTooltip="Cargar Detalle de la Estimación" mat-icon-button color="secondary" [routerLink]="['/app/estimaciones/detalle/', x.id]">
                <mat-icon class="material-icons">trending_up</mat-icon>
              </a>
              <button matTooltipPosition="above" matTooltip="Editar Estimación" mat-icon-button color="primary" (click)="Editar(x)">
                <mat-icon class="material-icons">mode_edit</mat-icon>
              </button>
              <button matTooltipPosition="above" matTooltip="Eliminar Estimación" mat-icon-button color="warn">
                <mat-icon class="material-icons" (click)="Eliminar(x)">delete</mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </article>
</section>