<h1 mat-dialog-title>Cargo</h1>

<div mat-dialog-content class="box box-default">
  <div class="box-body">
    <form>
      <div class="row">
        <div class="col-12">
          <mat-input-container class="full-width">
            <input [(ngModel)]="cargoActual.nombre" matInput placeholder="Nombre" name="Nombre">
          </mat-input-container>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <mat-input-container class="full-width">
            <input [(ngModel)]="cargoActual.codigo" matInput placeholder="Código" name="Codigo">
          </mat-input-container>
        </div>
      </div>
<!--       <div class="row">
        <div class="col-12">
          <mat-input-container class="full-width">
            <input [(ngModel)]="cargoActual.precioHora" matInput placeholder="Precio/Hora" name="PrecioHora">
          </mat-input-container>
        </div>
      </div> -->
    </form>
  </div>
</div>

<div mat-dialog-actions class="full-width">
  <div class="full-width text-sm-right">
    <button mat-button color="primary" class="btn-w-xs" [mat-dialog-close]="false">Cancelar</button>
    <button mat-button color="primary" class="btn-w-md" (click)="Guardar()">Guardar</button>
  </div>
</div>