<section class="container-fluid with-maxwidth chapter">

  <article class="article">

    <div class="row">
      <h2 class="article-title padding-top-30 col-12 col-sm-6">Cargos</h2>
      <div class="article-title padding-top-30 text-left text-sm-right col-12 col-sm-6">
        <button matTooltip="Cerrar" matTooltipPosition="above" mat-icon-button color="primary" (click)="Cerrar()">
          <mat-icon class="material-icons">close</mat-icon>
        </button>
      </div>
    </div>

    <div class="box box-default">
      <div class="box-body">
        <form>
          <div class="row">
            <div class="col-12 col-sm-6">
              <mat-input-container class="full-width">
                <input [(ngModel)]="cargoActual.nombre" matInput placeholder="Nombre" name="Nombre">
              </mat-input-container>
            </div>
            <div class="col-12 col-sm-6">
              <mat-input-container class="full-width">
                <input [(ngModel)]="cargoActual.codigo" matInput placeholder="Código" name="Codigo">
              </mat-input-container>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-sm-6">
              <mat-input-container class="full-width">
                <input [(ngModel)]="cargoActual.precioHora" matInput placeholder="Precio/Hora" name="PrecioHora">
              </mat-input-container>
            </div>
            <div class="col-12 col-sm-6">
              <button mat-raised-button color="accent" class="btn-w-md" (click)="Guardar()">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </article>
</section>